html{
  font-size: 15px;
}

body{
  font-family: EB Garamond;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #ADADAD;
  text-align: center;
  color: #333;
  margin: 0;
}

h1{
  font-size: 4rem;
  margin-bottom: 0;
}

#image{
  max-width: 90%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 20PX;
}

#img-div {
  background: #C2CAD0;
  padding: 10px;
  max-width: 60%;
  margin: auto;
  border-radius: 20PX;
}

#img-caption{
  margin-top: 10px;
}

.table{
    min-height: 300px;
    width: 80%;
    background: LightGray;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    align-items: left;
    justify-items:left;
    border-radius: 20PX;
    grid-gap: 1px;
}

li{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
  text-align: left;
}

@media only screen and (max-width: 600px) {

  .table {

    grid-template-columns: 1fr;
  }
  li{
    margin-left: 0px;
    }
  body{
    font-size: 1.25rem;
  }
  
  
}